@import '../../../var.scss';

.btn-cont
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px 12px;
    border: solid white 2px;
    border-radius: 7px;
    h4
    {
        color: white;
        font-weight: 400;
        font-size: 1rem;
    }
}
.active-filter
{
    background: $yellow-color;
}